{% extends '::plantillaGerencia.html.twig' %}
 
{% block title %}
    <a href="{{ path('nuevo_presupuesto')}}">Nuevo Presupuesto</a>
{% endblock %}
{% block id 'presupuesto' %}
 
{% block article %}
    <h1>{{ block('title') }}</h1>
    <section id="formulario_cliente">
        <h4>RECEPCION DE PIEZAS</h4>
        {#<form action="{{ path('nuevo_presupuesto') }}" method="post" {{ form_enctype(form) }}>#}
        {{ form_start(form) }}
            {{ form_errors(form) }}
               {% for r in form.recepcionComponentes %}
                <li>{{ form_widget(r.grupoComponente) }}{{ form_widget(r.componente) }} {{ form_widget(r.cantidad) }}{{form_widget(r.maximo)}}</li>
                {% endfor %}
            {{ form_rest(form) }}
        {{ form_end(form) }}
        </form>
    </section>


{% endblock %}
 
{% block aside %}
    {# ... #}
{% endblock %}