{% extends '::plantillaGerencia.html.twig' %}
 
{% block title %}
    <a href="{{ path('nuevo_presupuesto')}}">Nuevo Presupuesto</a>
{% endblock %}
{% block id 'presupuesto' %}
 
{% block article %}
    <h1>{{ block('title') }}</h1>
    <section id="formulario_cliente">
        <h4>RECEPCION DE PIEZAS</h4>
        {{ form_start(form) }}
            {{ form_errors(form) }}
      
            {{ form_rest(form) }}
        {{ form_end(form) }}
    </section>


{% endblock %}
 
{% block aside %}
    {# ... #}
{% endblock %}