{% extends '::base.html.twig' %}
 

{% block javascripts %}{% endblock %}

{% block body %}
    <header>
        <h1><a href="{{ path('portada_gerencia') }}">Gerencia</a></h1>
        {#<nav>
            <ul>
                <li><a href="{{ path('usuario_registro')}}">Registrar Usuarios</a></li>
                <li><a href="{{ path('admin_marcas')}}">Motores</a></li>
                <li><a href="{{ path('admin_piezas')}}">Piezas</a></li>
                <li><a href="{{ path('admin_rectificados')}}">Trabajos</a></li>
                <li><a href="{{ path('admin_clientes')}}">Clientes</a></li>
                <li><a href="{{ path('nuevo_presupuesto')}}">NP</a></li>
            </ul>
        </nav>#}
    </header>
    
<aside id="lateral">
    <h1>Menú</h1>
    <ul>
        <li><a href="{{ path('usuario_registro')}}">Registrar Usuarios</a></li>
        <li><a href="{{ path('admin_marcas')}}">Motores</a></li>
        <li><a href="{{ path('admin_piezas')}}">Piezas</a></li>
        <li><a href="{{ path('admin_rectificados')}}">Trabajos</a></li>
        <li><a href="{{ path('admin_clientes')}}">Clientes</a></li>
        <li><a href="{{ path('nuevo_presupuesto')}}">NP</a></li>
    </ul>
</aside>

    <section id="mensajes">
    {% if is_granted('ROLE_ADMIN') %}
        {% for tipo, mensajes in app.session.flashbag.all() %}
            {% for mensaje in mensajes %}
                <p class="flash-{{ tipo }}">{{ mensaje }}</p>
            {% endfor %}
        {% endfor %}
        <p>Conectado como {{ app.user.nombre ~ ' ' ~ app.user.apellidos }}</p>
        <a href="{{ path('usuario_logout') }}">Cerrar sesión</a>

        {#<a href="{{ path('usuario_perfil') }}">Ver mi perfil</a>#}
        {#<a href="{{ path('usuario_logout') }}">Cerrar sesión</a>#}
    {% endif %}
    </section>    
    <article>
        {% block article %}{% endblock %}
    </article>
 
    <aside>
        {% block aside %}
        {% endblock %}
    </aside>
{% endblock %}
