{% extends '::plantillaRecepcion.html.twig' %}

{% block title %}
Crear Motor | Marcas 
{% endblock title %}

{% block id 'marcas' %}

{% block article %}
<h3>
    <a href="{{ path('recepcion_crear_motor') }}">Marca</a>
</h3>

<h1>
    Crear un Motor
</h1>

<h2>
    Ingrese una marca
</h2>

<section id="formulario_marca">
    <form action="{{ path('recepcion_crear_motor') }}" method="post" {{ form_enctype(formulario) }}>
        {{ form_widget(formulario) }}
        <input class="boton" type="submit" value="Agregar" />
    </form>
</section>

<section id="listado_marcas">
    <table>
        <tr>
            <th>Marcas</th>
            {#<th>Eliminar</th>#}                  
        </tr>
        <tr>
        </tr>
  
        {% for marca in marcas %}
        <tr>
            <td><a href="{{ path('recepcion_crear_motor_modelo',{ 'marca': marca.slug })}}">{{ marca.nombre }}</a></td>
            {#<td><a href="{{ path('borrar_marca',{'marca': marca.id })}}">{{ 'Eliminar' }}</a></td>#}
        </tr>
        {% endfor %}
    </table>
    
{% if marcas == null%}
    {{'no hay marcas registradas'}}
{%endif%}
</section>

{% endblock article %}

{% block aside %}
{% endblock aside %}