{% extends '::plantillaGerencia.html.twig' %}
 
{% block title %}
    <a href="{{ path('admin_marcas')}}">Motores</a> > 
    Marcas
{% endblock %}
{% block id 'marcas' %}
 
{% block article %}
    <h1>{{ block('title') }}</h1>
    <section id="formulario_marca">
        <h4>Agregar nueva Marca</h4>
        <form action="{{ path('admin_marcas') }}" method="post" {{ form_enctype(formulario) }}>
        {{ form_widget(formulario) }}
                <input class="boton" type="submit" value="Agregar" />
        </form>
    </section>
    <section id="listado_marcas">
        <table>
            <tr>
                <th>Marca</th>                  
            </tr>
            <tr>
                
            </tr>
            {% for marca in marcas %}
                <tr>
                    <td><a href="{{ path('admin_modelos',{'marca': marca.slug })}}">{{marca.nombre}}</a></td>
                    {#<td><a href="{{ path('borrar_marca',{'marca': marca.id })}}">{{ 'Eliminar'}}</a></td>#}
                </tr>
            {% endfor %}
        </table>
        {% if marcas == null%}
            {{'no hay marcas registradas'}}
        {%endif%}
    </section>

{% endblock %}
 
{% block aside %}
    {# ... #}
{% endblock %}