{% extends '::plantillaGerencia.html.twig' %}
 
{% block title %}
    <a href="{{ path('admin_marcas')}}">Motores</a> > 
    <a href="{{ path('admin_modelos',{'marca': marca.slug })}}">{{marca.nombre}}</a> > 
    Modelos
{% endblock %}
{% block id 'modelos' %}
 
{% block article %}
    <h1>{{ block('title') }}</h1>
    <section id="formulario_modelos">
        <h4>Agregar nuevo Modelo</h4>
        <form action="{{ path('admin_modelos',{'marca' : marca.slug}) }}" method="post" {{ form_enctype(formulario) }}>
        {{ form_widget(formulario) }}
                <input class="boton" type="submit" value="Agregar" />
        </form>
    </section>
    <section id="listado_modelos">
        <table>
            <tr>
                <th>Modelo</th>                  
            </tr>
            <tr>
                
            </tr>
            {% for modelo in modelos %}
                <tr>
                    <td><a href="{{ path('admin_series',{'marca': marca.slug, 'modelo' : modelo.slug })}}">{{modelo.nombre}}</a></td>
                    {#<td><a href="{{ path('borrar_modelo',{'marca': marca.id, 'modelo': modelo.id })}}">{{ 'Eliminar'}}</a></td>#}
                </tr>
            {% endfor %}
        </table>
        {% if modelos == null%}
            {{'no hay modelos registrados'}}
        {%endif%}
    </section>

{% endblock %}
 
{% block aside %}
    {# ... #}
{% endblock %}