{# src/Cupon/UsuarioBundle/Resources/views/Default/compras.html.twig #}
{% extends '::plantillaGerencia.html.twig' %}
 
{% block title %}Portada{% endblock %}
{% block id 'portada' %}
 
{% block article %}
    <h1>{{ block('title') }}</h1>
    <table>
        <tr>
            <th>{{'numero'}}</th>
            <th>{{'cliente'}}</th>
            <th>{{'marca'}}</th>
            <th>{{'modelo'}}</th>
            <th>{{'serie'}}</th>
            <th>{{'recepcion'}}</th>
            <th>{{'trabajos'}}</th>
            <th>{{'total'}}</th>
        </tr>
        {%for p in presupuestos%}
        <tr>
            <td><a href="{{ path('nuevo_presupuesto',{'presupuesto': p.id })}}">{{p.id}}</a></td>
            <td><a href="{{ path('nuevo_presupuesto',{'presupuesto': p.id })}}">{{p.cliente}}</a></td>
            <td><a href="{{ path('nuevo_presupuesto',{'presupuesto': p.id })}}">{{p.serie.modelo.marca}}</a></td>
            <td><a href="{{ path('nuevo_presupuesto',{'presupuesto': p.id })}}">{{p.serie.modelo}}</a></td>
            <td><a href="{{ path('nuevo_presupuesto',{'presupuesto': p.id })}}">{{p.serie}}</a></td>
            <td><a href="{{ path('presupuesto_recepcion',{'presupuesto': p.id })}}">{{'modificar'}}</a></td>
            <td><a href="{{ path('presupuesto_trabajos',{'presupuesto': p.id })}}">{{p.totalRectificados}}</a></td>
            <td><a href="{{ path('presupuesto_final',{'presupuesto': p.id })}}">{{p.totalGeneral}}</a></td>

        </tr>
        {%endfor%}
    </table>
    {%if index != 0%}
        <a href="{{ path('portada_gerencia',{'index': index-1}) }}"><-Anterior</a>
    {%endif%}
        <a href="{{ path('portada_gerencia',{'index': index+1}) }}">Siguiente-></a>
{% endblock %}
 
{% block aside %}
    {# ... #}
{% endblock %}