{# src/Cupon/UsuarioBundle/Resources/views/Default/compras.html.twig #}
{% extends '::plantillaGerencia.html.twig' %}
 
{% block title %}Portada{% endblock %}
{% block id 'portada' %}
 
{% block article %}
    <h1>{{ block('title') }}</h1>
    <table>
        <tr>
            <th>{{'numero'}}</th>
            <th>{{'cliente'}}</th>
            <th>{{'marca'}}</th>
            <th>{{'modelo'}}</th>
            <th>{{'serie'}}</th>
        </tr>
        {%for p in presupuestos%}
        <tr>
            <td>{{p.id}}</td>
            <td>{{p.cliente}}</td>
            <td>{{p.serie.modelo.marca}}</td>
            <td>{{p.serie.modelo}}</td>
            <td>{{p.serie}}</td>
        </tr>
        {%endfor%}
    </table>
{% endblock %}
 
{% block aside %}
    {# ... #}
{% endblock %}