{% extends '::plantillaGerencia.html.twig' %}
 
{% block title %}
    Series
{% endblock %}
{% block id 'series' %}
 
{% block article %}
    <h1>
    <a href="{{ path('admin_marcas')}}">Motores</a> > 
    <a href="{{ path('admin_modelos',{'marca': marca.slug })}}">{{marca.nombre}}</a> > 
    <a href="{{ path('admin_series',{'marca': marca.slug, 'modelo' : modelo.slug })}}">{{modelo.nombre}}</a> >
    Series
    </h1>
    <section id="formulario_series">
        <h4>Agregar nueva Serie</h4>
        <form action="{{ path('admin_series',{'marca': marca.slug, 'modelo' : modelo.slug }) }}" method="post" {{ form_enctype(formulario) }}>
        {{ form_widget(formulario) }}
                <input class="boton" type="submit" value="Agregar" />
        </form>
    </section>
    <section id="listado_modelos">
        <table>
            <tr>
                <th>Serie</th>
                <th>Tipo</th>
                <th>Componentes</th>
                <th>Rectificados</th>
                <th>Repuestos</th> 
            </tr>
            <tr>
                
            </tr>
            {% for serie in series %}
                <tr>
                    <td>{{serie.nombre}}</td>
                    <td>{{serie.tipoMotor}}</td>
                    <td><a href="{{ path('componente_perfil',{'serie': serie.id })}}">{{'Componentes'}}</a></td>
                    <td><a href="{{ path('rectificado_perfil',{'serie': serie.id })}}">{{'Trabajos'}}</a></td>
                    {#<td><a href="{{ path('borrar_serie',{'marca': marca.id, 'modelo': modelo.id, 'serie': serie.id })}}">{{ 'Eliminar'}}</a></td>#}
                </tr>
            {% endfor %}
        </table>
        {% if series == null%}
            {{'no existen series registradas'}}
        {%endif%}
    </section>

{% endblock %}
 
{% block aside %}
    {# ... #}
{% endblock %}